.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  background-color: #4ECCA3;
  margin: 5%;
  color: black;
  font-size: 15px;
  width: 120px;
  height: 30px;
  margin-left: 46%;
  font-family: monospace;
  border: black;
}

button:hover {
  background-color: rgb(206, 24, 0);
  color: black;
  border: solid 2px;
}